.article {
    width: 324px;
    border: 1px solid #E2E2E2;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.article-content-block {
    padding: 12px;
    background-color: #F7F7F7;
}

.article-header {
    justify-content: space-between;
    display: flex;
}

.article-header-title {
    font-weight: 500;
    margin-bottom: 10px;
}

.article-header-subtitle {
    font-weight: 100;
}

.article-header-rate {
    align-items: center;
    display: flex;
    font-weight: 400;
}

.article-header-rate-icon {
    height: 20px;
    margin-left: 5px;
}

.article-body {
    position: relative;
}

.article-body:before {
    height: 50%;
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    display: block;
    content: '';
    background: linear-gradient(transparent, #000);
}

.article-body-background {
    height: 100%;
}

.article-footer {
    font-size: 16px;
}

.article-footer-content {
    font-weight: 100;
}

.button {
    text-align: center;
    text-decoration: none;
    position: relative;
    font-weight: 400;
    border-radius: 50px;
    color: #000;
    border: 2px solid #CCC;
    font-size: 17px;
    min-width: 170px;
    padding: 10px 15px;
}

.button--state-review {
    bottom: 28px;
    left: 50%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    transform: translateX(-50%);
}
